@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,800,400,700,300italic,400italic,600italic,700italic,800italic&subset=latin-ext);

body {
	font-family: 'Open Sans', sans-serif;
	color:#000;
}

.formlar {
	padding-top: 50px;
	padding-bottom:50px; 
}

.form-bilgi {

	background-color: #eff9ff;
	padding:20px;
}

ul {
	padding-left: 0;
	list-style: none;
}

.list-group-item>i {
	margin-right: 10px;
}



header {
	border-bottom: 2px solid #3B8CED;
	padding:20px 0;
	margin-bottom: 20px;
}


.sar-arama {
	padding-top: 15px;
}


h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	letter-spacing: -1px;
	font-weight: 600;
	color:#3B8CED;
}

h1>span, h2>span, h3>span, h4>span, h5>span, h6>span {
	font-weight: 300;
}

h1 {
	font-size: 26px;
	line-height: 60px;
}

h2 {
	font-size: 24px;
	line-height: 58px;
}

h3 {
	font-size: 22px;
	line-height: 56px;
}

h4 {
	font-size: 20px;
	line-height: 54px;
}

h5 {
	font-size: 18px;
	line-height: 52px;
}

h6 {
	font-size: 16px;
	line-height: 50px;
}

.mt20 {
    margin-top: 20px;
}

.bg-cyan {
    background-image: url(../images/bg-cyan.jpg);
}
.mt10{
        margin-top: 10px;
}
.navbar-fixed-top {
background-color: #fff;
border-bottom: 1px solid #ddd;
}
.navbar-nav > li > a {
color: #222;
font-size: 14px;

line-height: 60px;
font-weight: 700;
text-transform: uppercase;
display: block;
padding: 0 15px;
-webkit-transition: all 100ms ease-in-out;
-moz-transition: all 100ms ease-in-out;
-o-transition: all 100ms ease-in-out;
-ms-transition: all 100ms ease-in-out;
transition: all 100ms ease-in-out;
}
.navbar-inverse .navbar-nav>.active>a{ background-color:transparent;color:#19acca}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover{ background-color:transparent; color:#19acca}
.header h3 {
padding: 28px 0;margin-top: 0; line-height:inherit;
margin-bottom: 0;

}
.nav>li>a:hover, .nav>li>a:focus{ background-color:transparent}
.nav>li{padding: 19px;color: #c0a5b8;font-size: 22px;line-height: 49px;
font-weight: bold;}
.nav>li>a{color: #c0a5b8;display: inline; padding:0px;


line-height: 49px;
font-weight: bold;
text-transform: uppercase;


-webkit-transition: all 100ms ease-in-out;
-moz-transition: all 100ms ease-in-out;
-o-transition: all 100ms ease-in-out;
-ms-transition: all 100ms ease-in-out;
transition: all 100ms ease-in-out;}
.bg-form{background-color: rgba(10, 10, 10, 0.7);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding: 30px 10px 50px;
margin: 0 50px;}
.content{
margin-top:105px; margin-bottom:80px;
}
.blue_tel{ margin-right:10px; color:#7e3260}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #7e3260; 
}
.muted{  font-size:17px;color:#f7adc8; margin:18px 0; text-align:right}